{{#each errors}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{text}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{/each}}
<div class="col-md-4 mx-auto">
    <div class="card">
        <div class="card-header">
            <h3>Registro</h3>
        </div>
        <div class="card-body">
            <form action="/notes" method="POST">
                <input type="hidden" name="_method" value="PUT">
                <div class="form-group">
                    <h4>Nombre:</h4>
                    <h5>{{note.name_pet}}</h5>
                    <hr style="width:100%;">
                </div>
                <div class="form-group">
                    <h4>Tipo de animal:</h4>
                    <h5>{{note.type_pet}}</h5>
                    <hr style="width:100%;">
                </div>
                <div class="form-group">
                    <h4>Raza:</h4>
                    <h5>{{note.breed_pet}}</h5>
                    <hr style="width:100%;">
                </div>
                <div class="form-group">
                    <h4>Marca distintiva:</h4>
                    <h5>{{note.mark}}</h5>
                    <hr style="width:100%;">
                </div>
                <div class="form-group">
                    <h4>Color:</h4>
                    <h5>{{note.color}}</h5>
                    <hr style="width:100%;">
                </div>
                <div class="form-group">
                    <h4>Fecha de nacimiento:</h4>
                    <h5>{{note.date_born}}</h5>
                    <hr style="width:100%;">
                </div>
                <div class="form-group">



                    {{#each vaccines }}

                    <div class="form-group">
                        <h5>Vacuna:</h5>
                        <h6>{{name}}</h6>
                        <hr style="width:100%;">
                    </div>
                    <div class="form-group">
                    </div>
                    <div class="form-group">
                        <h5>Fecha:</h5>
                        <h6>{{date}}</h6>
                        <hr style="width:100%;">
                    </div>
                    <div class="form-group">
                    </div>

                    {{/each}}

                    {{#each operations }}

                    <div class="form-group">
                        <h5>Operación:</h5>
                        <h6>{{name}}</h6>
                        <hr style="width:100%;">
                    </div>
                    <div class="form-group">
                    </div>

                    <div class="form-group">
                        <h5>Descripción:</h5>
                        <h6>{{description}}</h6>
                        <hr style="width:100%;">
                    </div>
                    <div class="form-group">
                    </div>

                    <div class="form-group">
                        <h5>Fecha:</h5>
                        <h6>{{date}}</h6>
                        <hr style="width:100%;">
                    </div>
                    <div class="form-group">
                    </div>

                    {{/each}}
                    <a class="dropdown-item" href="/vaccines/add">Añadir Vacuna ‏‏‎‎‏‏‎‎<i
                            class="fas fa-pencil-alt"></i></a>
                    <a class="dropdown-item" href="/operations/add">Añadir Operación ‏‏‎‎‏‏‎‎<i
                            class="fas fa-pencil-alt"></i></a>
            </form>
            <form action="/notes">
                <button type="submit" class="btn btn-danger btn-block btn-sm">Volver a los registros</button>
            </form>
        </div>
    </div>
</div>